@import '~@angular/material/theming';
@include mat-core();

$dynamic-primary-color: (
  50 : var(--primary-color-50),
  100 : var(--primary-color-100),
  200 : var(--primary-color-200),
  300 : var(--primary-color-300),
  400 : var(--primary-color-400),
  500 : var(--primary-color-500),
  600 : var(--primary-color-600),
  700 : var(--primary-color-700),
  800 : var(--primary-color-800),
  900 : var(--primary-color-900),
  A100 : var(--primary-color-A100),
  A200 : var(--primary-color-A200),
  A400 : var(--primary-color-A400),
  A700 : var(--primary-color-A700),
  contrast: (
    50: var(--primary-color-contrast-50),
    100: var(--primary-color-contrast-100),
    200: var(--primary-color-contrast-200),
    300: var(--primary-color-contrast-300),
    400: var(--primary-color-contrast-400),
    500: var(--primary-color-contrast-500),
    600: var(--primary-color-contrast-600),
    700: var(--primary-color-contrast-700),
    800: var(--primary-color-contrast-800),
    900: var(--primary-color-contrast-900),
    A100: var(--primary-color-contrast-A100),
    A200: var(--primary-color-contrast-A200),
    A400: var(--primary-color-contrast-A400),
    A700: var(--primary-color-contrast-A700),
  )
);

$dynamic-accent-color: (
  50 : var(--accent-color-50),
  100 : var(--accent-color-100),
  200 : var(--accent-color-200),
  300 : var(--accent-color-300),
  400 : var(--accent-color-400),
  500 : var(--accent-color-500),
  600 : var(--accent-color-600),
  700 : var(--accent-color-700),
  800 : var(--accent-color-800),
  900 : var(--accent-color-900),
  A100 : var(--accent-color-A100),
  A200 : var(--accent-color-A200),
  A400 : var(--accent-color-A400),
  A700 : var(--accent-color-A700),
  contrast: (
    50: var(--accent-color-contrast-50),
    100: var(--accent-color-contrast-100),
    200: var(--accent-color-contrast-200),
    300: var(--accent-color-contrast-300),
    400: var(--accent-color-contrast-400),
    500: var(--accent-color-contrast-500),
    600: var(--accent-color-contrast-600),
    700: var(--accent-color-contrast-700),
    800: var(--accent-color-contrast-800),
    900: var(--accent-color-contrast-900),
    A100: var(--accent-color-contrast-A100),
    A200: var(--accent-color-contrast-A200),
    A400: var(--accent-color-contrast-A400),
    A700: var(--accent-color-contrast-A700),
  )
);

$app-theme: mat-light-theme(mat-palette($dynamic-primary-color), mat-palette($dynamic-accent-color), mat-palette($mat-red));

@include angular-material-theme($app-theme);