<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<section class="main-container">

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Escoge el color primario</mat-label>
      <input matInput [(ngModel)]="primaryColor">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="savePrimaryColor()">Guardar</button>
  </div>

  <span style="color: var(--primary-500)">nepe</span>

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Escoge el color secundario</mat-label>
      <input matInput [(ngModel)]="secondaryColor">
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="saveAccentColor()">Guardar</button>
  </div>

  <br/><br/>
  <h3>Controls example</h3>
  <div class="row">
    <label>Accent</label>
    <mat-slider
        class="example-margin"
        [max]="200"
        [min]="10"
        [value]="100">
    </mat-slider>
  </div>

  <div class="row">
    <label>Primary</label><mat-slide-toggle color="primary" [checked]="true">Slide me!</mat-slide-toggle>
  </div>
</section>

<router-outlet></router-outlet>
